# Logs
.pnpm-debug.log*
logs/

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Misc
.DS_Store

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Dotenv environment variable files
.env

# Docker
.volumes/
