::selection {
  @apply bg-black dark:bg-white text-white dark:text-black;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 24px;
  border: solid 4px transparent;
  box-shadow: inset 0 0 12px 12px rgba(229, 229, 229, 0.5);
}

::-webkit-scrollbar-thumb {
  border-radius: 24px;
  border: solid 4px transparent;
  box-shadow: inset 0 0 12px 12px rgba(163, 163, 163, 0.5);
}
